---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE } from '../consts';
import FallbackImage from '../assets/blog-placeholder-1.jpg';
import type { ImageMetadata } from 'astro';

interface Props {
    title: string;
    description: string;
    image?: string | ImageMetadata;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = FallbackImage } = Astro.props;

// Trata a imagem recebida (seja string ou ImageMetadata) para gerar o path
const imagePath = typeof image === 'string' ? image : image?.src;
// Constrói a URL absoluta baseada no domínio principal do site (Astro.site)
const ogImageUrl = new URL(imagePath, Astro.site || Astro.url).toString();
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="theme-color" content="#0167c2" />
<link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin="anonymous" />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin="anonymous" />

<title>{title}</title>
<meta name="description" content={description} />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
    rel="alternate"
    type="application/rss+xml"
    title={SITE_TITLE}
    href={new URL('rss.xml', Astro.site)}
/>
<link rel="canonical" href={canonicalURL} />
<meta name="generator" content={Astro.generator} />


<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImageUrl} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImageUrl} />

<script>
  import Clarity from '@microsoft/clarity';

  // Substitua pelo seu ID real do projeto Clarity
  const projectId = "wclce1s4ln";

  // Inicializa apenas se estiver no navegador
  if (typeof window !== 'undefined') {
    Clarity.init(projectId);
  }
</script>

<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-D8D6S7DDLR" async></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D8D6S7DDLR');
</script>
